/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
}

h1,
h2 {
  color: #efc501;
}

h3,
h4,
h5,
h6 {
  color: black;
}

.header,
.body {
  margin: 2em;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #075446ff;
  padding-bottom: 1px;
  text-decoration: none;
}

a.external {
  background: url(../img/external.png) center right no-repeat;
  padding-right: 13px;
}

#mirador {
  height: 96vh;
  position: relative;
  width: 100%;
}